<!-- <h6>NavigationBar</h6> -->


<!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light bg-opacity-75 sticky-top">
    <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#infos">Infos</a></li>
        <li class="nav-item"><a class="nav-link" href="#carte">Carte</a></li>
        <li class="nav-item"><a class="nav-link" href="#positions">Positions</a></li>
      </ul>
    </div>
  </nav>












<div class="container">
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
{% endfor %}

    {% block page_content %}{% endblock %}
</div>





